#section__hero {
    margin-top: 0;
    padding: 0;
    position: relative;
    height: 70vh;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0000006b;
      z-index: 1;
      pointer-events: none;
    }
    .accentDivider {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .flex__row {
      display: flex;
      flex-direction: row;
    }
    .flex__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
    }
    .text__align__c {
      text-align: center;
    }
    h1 {
      color: var(--color-white);
      width: 100%;
      text-align: center;
      transform-origin: top center;
    }
    h2,
    h2 > strong {
      color: var(--color-white);
      width: 100%;
      text-align: center;
      transform-origin: top center;
      font-size: var(--size-2xl);
    }
    .column__2__hero {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
    .btn__hero__container {
      margin-top: 2em;
      display: flex;
      gap: 1px;
      .btn:first-child {
        border-radius: 8px 0 0 8px;
      }
      .btn:last-child {
        border-radius: 0 8px 8px 0;
      }
    }
    .img__hero {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      video {
        height: 100%;
        object-fit: cover;
      }
    }
  }

.hide__category .card__category{
    display: none;
}

.paginacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 50px;
}

.paginacion a{
    font-size: var(--size-sm);
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
}

.paginacion a.active{
    pointer-events: none;
}

#section__intro{
  padding: 7% 10%;
    .column__1{
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1.5rem;
          }
          .card{
            padding: 0;
            border-radius: 20px;
            overflow: hidden;
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
              opacity: 1 !important;
              transform: translate(0) !important;
            }
          }
          .grid-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #f1f1f1;
            border-radius: 15px;
            overflow: hidden;
            .column__2{
                height: 100%;
                background-color: #ffff;
                flex-direction: column;
                justify-content: space-between;
                .col__right, .col__left{
                    width: 100%;
                }
                .col__left{
                    height: 40%;
                    overflow: hidden;
                    picture{
                        img{
                            object-fit: cover;
                            object-position: top;
                        }
                    }
                    a, picture, img{
                        height: 100%;
                        margin: 0;
                    }
                }
                .col__right{
                    height: 60%;
                    padding: 5%;
                    justify-content: space-between;
                    h2, p, h3, span, a{
                        margin: 0;
                        font-size: 16px;
                        color: var(--color-primary);
                    }
                    a.btn{
                        width: fit-content;
                        height: fit-content !important;
                    }
                    .card__meta{
                        display: inline-flex;
                        align-items: center;
                        gap: 0.5em;
                    }
                    .card__category{
                        border: 2px solid var(--color-primary);
                        text-wrap: nowrap;
                    }
                    .card__date{
                        font-weight: bold;
                        color: var(--color-accent);
                    }
                }
            }
          }
          
          .grid-item:first-child, .grid-item:last-child {
            position: relative;
            .column__2{
                height: 100%;
                .col__right{
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    h2, p, h3, span, a{
                        color: var(--color-white);
                    }
                    a{
                        height: fit-content !important;
                    }
                    a.btn{
                        height: 38px !important;
                    }
                    .card__category{
                        border: 2px solid var(--color-white);
                        text-wrap: nowrap;
                    }
                    .card__date{
                        font-weight: bold;
                        color: var(--color-accent);
                    }
                }
                .col__left, a, picture, img{
                    height: 100% !important;
                    width: 100%;
                    img{
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .col__left{
                    position: relative;
                    z-index: 0;
                }
                .col__left::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 1;
                }
            }
          }
          .grid-item:first-child{
            grid-column: 1 / span 2;
          }
          .grid-item:last-child {
            grid-column: span 2;
          }
    }
}




/*  Cards  */

.card{
  background-color: #fff;
  padding: 5%;
  margin: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .card__date{
      font-size: 14px;
      text-transform: capitalize;
      color: var(--color-accent);
  }
  .card__category{
      font-size: var(--size-xs);
  }
  .card__category a{
      font-size: 13px;
      color: var(--color-primary);
      margin-bottom: 0px;
      border: 1px solid var(--color-primary);
      padding: 5px;
      border-radius: 5px;
  }
  .card__category a:hover{
      text-decoration: underline;
  }
  .card__pic{
      width: 100%;
  }
  a{
      margin-bottom: 0px;
  }
  h2{
      font-family: var(--color-primary);
      line-height: 1.3;
      padding: 0 20px;
      margin-bottom: 10px;
      text-transform: unset;
      a{
          font-size: var(--size-sm);
          line-height: inherit;
      }
  }
  picture{
      width: 100%;
      height: auto;
      margin-bottom: 5%;
  }
  .btn{
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 0%;
      padding: 5px 10px;
      margin-left: 20px;
  }
  .excerpt__p{
      font-size: var(--size-xs);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden;
      padding: 0 20px;
  }
}



.card__articulo{
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  .column__2{
      padding: 0px 20px;
  }
  a{
      margin: 0;
  }
  .column__2, .col__left, .col__right{
      height: auto;
      margin-bottom: 10px;
  }
  .col__left{
      padding-right: 5%;
      a, picture, img{
          height: 100%;
          img{
              object-fit: cover;
          }
      }
  }
  .col__right{
      justify-content: center;
      padding-right: 5%;
      h2{
          width: fit-content !important;
      }
      .btn_post{
          display: flex;
          background-color: none;

      }
      .btn_post::after{
          content: "＞";
          display: block;
          color: var(--color-accent);
      }
  }
  .splide__arrow--prev {
      top: 0;
      transform: rotate(-90deg);
  }
  &:first-child, &:last-child{
      grid-column: span 2;
      .card__pic{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
          picture{
              margin-bottom: 0px !important;
              width: 100%;
              height: 100%;
              object-fit: cover;
              img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
          }
          &::before{
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgb(0,0,0);
              background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
              opacity: 0.9;
              z-index: 2;
          }
          &::after{
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: var(--color-primary-dark);
              opacity: 0.6;
              z-index: 1;
          }
      }
      h2{
          position: relative;
          z-index: 2;
          color: var(--color-white);
          font-size: var(--size-lg);
          padding-right: 25%;
          a{
              font-size: var(--size-lg) !important;
          }
      }
      .excerpt__p{
          position: relative;
          z-index: 2;
          color: var(--color-white);
          font-size: var(--size-sm);
          padding-right: 25%;
      }
      .column__2{
          margin-top: 20px;
          .col__left{
              .card__category{
                  a{
                      color: var(--color-white);
                      border-color: var(--color-white);
                  }
              }
          }
          .col__right{
              padding-right: 0px;
          }
      }
  }
}





@media screen and (max-width: 1024px) {

  .card__articulo {
    .column__2{
        .col__left {
            padding-right: 0%;
          }
          .col__right{
            padding-right: 0;
            margin-top: 0%;
            align-items: flex-start;
          }
    }
    

}

    #section__intro{
      padding: 10% 5%;
        .column__1{
            .grid-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 1rem;
              }
              .grid-item:first-child{
                grid-column: 1 / span 2;
              }
              .grid-item{
                grid-column: span 2;
              }
        }
    }
}




@media screen and (max-width: 768px) {

  .card__articulo {
    &:first-child, &:last-child {
      h2 {
        padding-right: 20px;
      }
      .excerpt__p {
        padding-right: 20px;
      }
    }
  }

}