#section__hero {
  margin-top: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  z-index: 1;
  &::before{
    content:"";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    z-index: 1;
    pointer-events: none;
  }
  .accentDivider{
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .flex__row {
    display: flex;
    flex-direction: row;
  }
  .flex__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; 
  }
  .text__align__c {
    text-align: center;
  }
  h1{
    color: var(--color-white);
    width: 100%;
    text-align: center;
    transform-origin: top center;
  }
  h2, h2>strong{
    color: var(--color-white);
    width: 100%;
    text-align: center;
    transform-origin: top center;
    font-size: var(--size-2xl);
  }
  .column__2__hero {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .btn__hero__container {
    margin-top: 2em;
    display: flex;
    gap: 1px;
    .btn:first-child{
      border-radius: 8px 0 0 8px;
    }
    .btn:last-child{
      border-radius: 0 8px 8px 0;
    }
  }
  .img__hero {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    video{
      height: 100%;
      object-fit: cover;
    }
  }
}

#section__intro {
  margin-top: 0;
  background: url('../assets/img/bg_cream.jpg');
  position: relative;
  padding: 10% 0% 5% 0%;
  .column__2{
    .col__left{
      position: relative;
    }
    .col__right{
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  .column__1{
    margin-top: 5%;
    overflow: hidden;
    .greca{
      width: 120vw;
      transform: translateX(-20vw);
    }
  }
  &::before{
    content:"";
    width: 50%;
    height: 100%;
    position: absolute;
    top: -20%;
    right: 0;
    background-image: url(/images/textura_manuscrito.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
  }
}

#section__introDivider{
  background: url('../assets/img/bg_cream.jpg');
  .column__1{
    .sello__wrapper{
      img{
        position: relative;
        width: 7vw;
        min-width: 120px;
        max-width: 500px;
        height: auto;
        object-fit: contain;
        animation-name: giraSello;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.3));
      }
    }
    
  }
  .column__2{
    .col__left{
      padding-right: 0%;
      ul{
        width: 100%;
        position: relative;
        transform: translateX(-100%);
        opacity: 0;
        li{
          padding: 0 !important;
          width: 100%;
          height: auto;
          margin: 0px;
          picture{ 
            position: relative;   
            width: 100%;
            max-height: 50vh;
            aspect-ratio: 1;
            img{
              position: relative;
              height: 100%;
              object-fit: cover;
          }}
        }
        li:first-child{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
    .col__right{
      padding-left: 0%;
      ul{
        width: 100%;
        transform: translateX(100%);
        li{
          padding: 0 !important;
          width: 100%;
          height: auto;
          margin: 0px;
          picture{ 
            position: relative; 
            width: 100%; 
            max-height: 50vh;
            aspect-ratio: 1; 
            img{
              height: 100%;
              position: relative;
              width: 100%;
              object-fit: cover;
          }}
        }
        li:first-child{
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
        }
      }
    }
  }
    
}

@keyframes giraSello {
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}




#section__discoverPueblito{
  padding: 10% 0 10%;
  &::before{
    content:"";
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -10%;
    left: 0;
    background-image: url(/images/textura_manuscrito.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
  }
  .col__left{
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
  }
  .diamondFigure{
    left: -12px;
    right: unset;
  }
  ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    li{
      padding: 0 !important;
      display: flex;
      justify-content: center;
      picture{
        position: relative;
        width: 100%;
        aspect-ratio: 2/3;
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    
  }
}

#section__placeToBe {
  background: var(--bg-primary);
  position: relative;
  padding: 10%;
  h2{
    color: var(--color-white);
    text-align: center;
    strong{
      color: var(--color-accent);
      transform-origin: top center;
    }
  }
  ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin-top: 10%;
  }
  li{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 50px;
    picture{
      box-shadow: 5px 30px 20px rgba(0,0,0,0.4);
      border-radius: 15px;
      overflow: hidden;
    }
    &:nth-child(1), &:nth-child(3){
      padding-top: 20%;
    }
    &:nth-child(1){
      align-items: flex-end;
      picture:last-child{
        width: 50%;
        aspect-ratio: 3/4;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &:nth-child(2){
      picture:first-child{
        aspect-ratio: 1/1.2;
      }
      picture{
        width: 100%;
        aspect-ratio: 1;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &:nth-child(3){
      picture:first-child{
        width: 50%;
        aspect-ratio: 1;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}


#section__location {
  background: url('../assets/img/bg_noise_mapa.jpg');
  .column__1{
    h2{
      text-align: center;
      strong{
        transform-origin: top center;
      }
    }
    .width__45{
      text-align: center;
    }
  }
  .column__1{
    .map__wrapper{
      width: 100%;
      height: auto;
      .hotspot#merida{
        width: 100px;
        height: 100px;
      }
      .hotspot{
        position: absolute;
        z-index: 2;
        width: 60px;
        height: 60px;
        cursor: pointer;
        .tooltip{
          position: absolute;
          background-color: var(--color-black);
          display: none;
          width: 240px;
          height: auto;
          padding-bottom: 10px;
          border-radius: 10px;
          top: -260px;
          left: -90px;
          &::before{
            content: "";
            position: absolute;
            bottom: -17px;
            left: calc(50% - 15px);
            width: 30px;
            height: 20px;
            background-color: var(--color-black);
            clip-path: polygon(100% 0, 0 0, 50% 100%);
          }
          img{
            padding: 10px;
          }
          p{
            width: 100%;
            text-align: center;
            padding: 0 10px;
            font-size: 14px;
            line-height: 19px;
            color: var(--color-white);
            font-weight: 400;
            margin-bottom: 0px;
            strong{
              font-weight: 600;
            }
            span{
              color: var(--color-accent);
              font-weight: 600;
            }
          }
          img{
            display: block;
          }
        }
        &:hover{
          .tooltip{
            display: block;
          }
        }
      }
      #progreso{
        top: calc(29.5% - 30px);
        left: calc(26% - 30px);
      }
      #telchac{
        top: calc(26.5% - 30px);
        left: calc(34.8% - 30px);
      }
      #lagartos{
        top: calc(17.1% - 30px);
        left: calc(60.4% - 30px);
      }
      #cuyo{
        top: calc(19.5% - 30px);
        left: calc(70.6% - 30px);
      }
      #merida{
        top: calc(43.8% - 50px);
        left: calc(27.3% - 50px);
      }
      #izamal{
        top: calc(42.5% - 30px);
        left: calc(41% - 30px);
      }
      #chichenitza{
        top: calc(59.1% - 30px);
        left: calc(49.1% - 30px);
      }
      #cancun{
        top: calc(34.5% - 30px);
        left: calc(88.9% - 30px);
      }
      #playacarmen{
        top: calc(57.9% - 30px);
        left: calc(84.6% - 30px);
      }
      #tulum{
        top: calc(76.5% - 30px);
        left: calc(76.5% - 30px);
      }
      .vector{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .bitmap{
        position: relative;
        width: 100%;
        height: auto;
        z-index: 0;
      }
    }
  }
}


#section__discoverBenefits{
  height: 100vh;
  position: relative;
  .accentDivider{
    background-color: var(--color-accent) ;
  }
  .column__1{
    z-index: 2;
    align-items: center;
    justify-content: center;
    img{
      width: 100px;
      height: auto;
      margin-bottom: 50px;
    }
    h2{
      color: var(--color-white);
      strong{
        transform-origin: top center;
      }
    }
    p{
      text-align: center;
      color: var(--color-white)
    }
  }
  
  picture{
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover
   }
  }
}


#section__recentArticles{
  background: url('../assets/img/bg_cream.jpg');
  h2{
    text-align: center;
    strong{
      transform-origin: top center;
    }
  }
  .recentblog__wrapper{
    margin-top: 3%;
    align-items: center;
  }
  .splide{
    margin-top: 2em;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    border: 20px solid white;
  }
  .splide, .splide__track, .splide__list{
    background-color: white;
  }
  .btn{
    margin-top: 2.5%;
  }
  .splide__pagination__page.is-active{
    background: var(--color-accent) !important;
  }
  .splide__arrow{
    svg{
      opacity: 1 !important;
    }
  }
  .splide__arrows--ttb .splide__arrow{
    left: calc(100% - 15px);
  }
  .splide__pagination--ttb{
    left: calc(100% - 30px);
  }
}








#section__activity {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

#section__divider {
  min-height: 100vh;
  position: relative;
  img {
    object-fit: cover;
  }
}

#section__concept {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  .concept__picture__concept1 {
    position: absolute;
    z-index: -1;
    left: 0;
    height: 100%;
  }
  .concept__picture__concept2 {
    position: absolute;
    z-index: -1;
    right: 0;
    height: 100%;
  }
}

#section__iWant {
  padding: 5% 5%;
  background-color: #efece8;
  div {
    position: relative;
  }
  .iWantCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 5%;
    right: 0%;
    bottom: -20%;
    transform: translate(0%, 0%);
    display: flex;
    flex-direction: column;
    picture{
        width: 32px;
        aspect-ratio: 1;
        align-self: center;
    }
    a{
        margin: 0;
        width: fit-content;
    }
  }
}

#section__productos .column__1 {
  border-top: 1px solid #ccc;
  padding-top: 5%;
}



@media (max-width: 768px){
  #section__hero{
    .column__2{
      .col__right, picture, img{
        height: 100%;
        img{
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .greca{
    height: 100px;
  }
  #section__hero{
    height: 50vh;
    h2{
      font-size: var(--size-xl);
    }
    .img__hero, picture, img{
      height: 100%;
      img{
        object-fit: cover;
      }
      
    }
  }
  #section__intro{
    padding: 10% 0%;
    padding-top: 10%;
    .column__2{
      flex-direction: column-reverse;
      .col__left{
        padding: 0% 5%;
        .diamondFigure{
          right: calc(5% - 15px);
        }
        
      }
      .col__right{
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        picture:last-child{
          img{
            position: absolute;
          }
        }
        h2{
          width: 100%;
        }
      }
    }
    
    
    
    
  }
  #section__placeToBe {
    ul, li{
      gap: 10px;
      picture{
        border-radius:  5px;
      }
    }
  }
  #section__introDivider{
    .col__left, .col__right{
      padding: 5%;
      ul{
        li{
          picture{
            max-height: 40vh !important;
          }
        }
      }
    }
    .col__right{
      padding: 5%;
    }
  }
  #section__discoverPueblito{
    padding: 10% 5%;
    .column__2{
      .col__left{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10%;
      }
      .col__right{
        .diamondFigure {
          left: -7px;
          right: unset;
        }
      }
    }
  }

  #section__placeToBe{
    padding: 10% 5%;
  }

  #section__recentArticles{
    padding: 10% 5%;
  }

  #carousel-1, #carousel-2{
    padding: 0 !important;
  }

  #section__location {
    .column__1{
      .width__45{
        width: 70%;
      }
      .map__wrapper{
        .hotspot#merida{
          width: 30px;
          height: 30px;
        }
        .hotspot{
          width: 34px;
          height: 34px;
          .tooltip{
            position: absolute;
            background-color: var(--color-black);
            display: none;
            width: 240px;
            height: auto;
            padding: 0px;
            border-radius: 10px;
            top: -240px;
            left: -90px;
            img{
              padding: 10px;
            }
            
            p{
              width: 100%;
              text-align: center;
              padding: 0 10px;
              font-size: 13px;
              line-height: 19px;
              color: var(--color-white);
              font-weight: 400;
              margin-bottom: 0px;
              strong{
                font-weight: 600;
              }
              span{
                color: var(--color-accent);
                font-weight: 600;
              }
            }
            img{
              display: block;
            }
          }
          &:hover{
            .tooltip{
              display: block;
            }
          }
        }
        #progreso{
          top: calc(29.5% - 15px);
          left: calc(26% - 15px);
        }
        #telchac{
          top: calc(26.5% - 15px);
          left: calc(34.8% - 15px);
        }
        #lagartos{
          top: calc(17.1% - 15px);
          left: calc(60.4% - 15px);
        }
        #cuyo{
          top: calc(19.5% - 15px);
          left: calc(70.6% - 15px);
        }
        #merida{
          top: calc(43.8% - 15px);
          left: calc(27.3% - 15px);
        }
        #izamal{
          top: calc(42.5% - 15px);
          left: calc(41% - 15px);
        }
        #chichenitza{
          top: calc(59.1% - 15px);
          left: calc(49.1% - 15px);
        }
        #cancun{
          top: calc(34.5% - 15px);
          left: calc(88.9% - 15px);
          .tooltip{   
            left: -190px;
            &::before{
              left: calc(100% - 55px);
            }
          }
        }
        #playacarmen{
          top: calc(57.9% - 15px);
          left: calc(84.6% - 15px);
          .tooltip{
            left: -190px;
            &::before{
              left: calc(100% - 55px);
            }
          }
        }
        #tulum{
          top: calc(76.5% - 15px);
          left: calc(76.5% - 15px);
          .tooltip{
            left: -190px;
            &::before{
              left: calc(100% - 55px);
            }
          }
        }
        .vector{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .bitmap{
          position: relative;
          width: 100%;
          height: auto;
          z-index: 0;
        }
      }
    }
  }

  #section__discoverBenefits{
    height: 50vh;
    &.pad__all__10{
      padding: 5%;
    }
    .column__1{
      img{
        width: 70px;
        margin-bottom: 25px;
      }
      .accentDivider{
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }


  #formSection{
    .column__2{
      .col__left{
        padding: 5%;
        form{
          .column__2{
            .col__left{
              padding: 0;
            }
            .col__right{
              padding: 0;
              height: unset;
            }
          }
        }
      }
      .col__right{
        height: 50vh;
      }
    }
  }

}