#section__hero {
    margin-top: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    z-index: 1;
    &::before{
      content:"";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0000006b;
      z-index: 1;
      pointer-events: none;
    }
    .accentDivider{
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .flex__row {
      display: flex;
      flex-direction: row;
    }
    .flex__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2; 
    }
    .text__align__c {
      text-align: center;
    }
    h1{
      color: var(--color-white);
      width: 100%;
      text-align: center;
      transform-origin: top center;
    }
    h2, h2>strong{
      color: var(--color-white);
      width: 100%;
      text-align: center;
      transform-origin: top center;
      font-size: var(--size-2xl);
    }
    .column__2__hero {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
    .btn__hero__container {
      margin-top: 2em;
      display: flex;
      gap: 1px;
      .btn:first-child{
        border-radius: 8px;
      }
      .btn:last-child{
        border-radius: 8px;
      }
    }
    .img__hero {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      video{
        height: 100%;
        object-fit: cover;
      }
    }
  }

#section__happyPlace{
  background: var(--bg-cream);
  overflow: hidden;
  padding: 5% 10% 8%;
  &::before{
    content:"";
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -10%;
    right: 0;
    background-image: url(/images/textura_manuscrito.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
  }
  .column__1:nth-child(2){
    max-width: 1600px;
    align-self: center;
  }
  .happyPlace__richText{
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
    h2{
      width: 100%;
      display: flex;
      strong{
        transform-origin: top center;
      }
    }
  }
    .intro__imgWrapper{
      position: relative;
      height: 60vh;
      width: 100%;
    }
    .intro__imgInner{
      width: 100%;
      height: 100%;
    }
    .width__55{
      align-self: center;
    }
    .column__1:nth-child(3){
      max-width: 40%;
      padding-top: 8%;
    }
}

#section__spaCarousel{
  padding-left: 5%;
  padding-right: 5%;
  &:before{
    content: "";
    width: 5%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../assets/svg/greca_crema_90.svg");
    background-repeat: repeat-y;
  }
  &:after{
    content: "";
    width: 5%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../assets/svg/greca_crema_90.svg");
    background-repeat: repeat-y;
  }
  
  ul{
    width: 100%;
    padding-left: 15%;
    padding-top: 0%;
    border-right: 6px solid var(--color-secondary-light);
    li{
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      margin: 0;
      h2{
        strong{
          transform: scale(1);
        }
      }
      p{
        max-width: 80%;
      }
      .card__line{
        position: relative;
        width: 105%;
        height: 2em;
        display: flex;
        align-items: center;
        .card__line--red{
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          &:before{
            content: "";
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
          }
          &:after{
            position: absolute;
            right: -18px;
            transform: rotate(45deg);
            content: "";
            width: 24px;
            aspect-ratio: 1/1;
            background-color: var(--color-primary);
            z-index: 5;
          }
        }
      }
    }
  }
  #pinRight__spaCarousel{
    height: 100vh;
    position: relative;
    overflow: hidden;
    picture, img{
      height: 100% !important;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
    & .spaCarousel__img:nth-child(8){
      position: relative !important;
      z-index: 1;
      opacity: 1 !important;
    }
    & .spaCarousel__img:nth-child(7){
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    & .spaCarousel__img:nth-child(6){
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
    & .spaCarousel__img:nth-child(5){
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
    }
    & .spaCarousel__img:nth-child(4){
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
    & .spaCarousel__img:nth-child(3){
      position: absolute;
      top: 0;
      left: 0;
      z-index: 6;
    }
    & .spaCarousel__img:nth-child(2){
      position: absolute;
      top: 0;
      left: 0;
      z-index: 7;
    }
    & .spaCarousel__img:nth-child(1){
      position: absolute;
      top: 0;
      left: 0;
      z-index: 8;
    }
  }
}

#section__adventureCarousel{
  padding: 8% calc(10% + 130px);
  background: var(--bg-primary);
  .column__1:nth-child(1){
    margin-bottom: 3%;
    div, h2{
      width: 100%;
      text-align: center;
      h2{
        display: flex;
        justify-content: center;
        color: var(--color-white);
        strong{
          transform-origin: top center;
        }
      }
      strong{
        width: fit-content;
        color: var(--color-accent);
      }
    }
  } 
  ul.splide__list{
    padding: 3em 0 !important;
    li{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      picture, img{
        height: 100%;
        img{
          object-fit: cover;
        }
      }
      h3{
        font-size: var(--size-sm);
        width: 100%;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0;
        color: var(--color-white);
        transform: none !important;
        opacity: 1 !important;
      }
    }
  }
  #carousel-2{
    display: none;
  }
  .splide__arrow--prev{
    left: -60px;
  }
  .splide__arrow--next{
    right: -60px;
  }
}

#section__placeToBe{
  position: relative;
  height: 80vh;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10%;
  background-color: var(--color-primary-dark);
  .column__1{
    position: relative;
    width: fit-content;
    height: fit-content;
    align-items: center;
    z-index: 2;
    h2{
      color: var(--color-white);
      text-align: center;
      strong{
        color: var(--color-accent);
        transform-origin: top center;
      }
    }
  }
  picture{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    img{
      height: 100%;
      object-fit: cover;
    }
  }
}

#section__traditions{
  background: var(--bg-cream);
  padding: calc(10% + 150px) 5% 10%;
  min-height: 100vh;
  &:before{
    content: "";
    background: url('../assets/svg/greca_crema.svg');
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .column__1{
    align-items: center;
    h2{
      strong{
        transform-origin: top center;
      }
    }
    p{
      max-width: 30%;
      text-align: center;
    }
  }
  picture{
    position: absolute;
    img{
      height: 100%;
      object-fit: cover; 
      object-position: center;
      border: 3px solid var(--color-white);
      box-shadow: -10px 22px 30px rgba(0,0,0,0.4);
    }
  }
  .traditionsImg1{
    top: calc(150px + 15%);
    left: 5%;
    width: 15vw;
    min-width: 150px;
    aspect-ratio: 2/3;
  }
  .traditionsImg2{
    top: calc(150px + 8%);
    right: 5%;
    width: 18vw;
    min-width: 150px;
    aspect-ratio: 3/2;
  }
  .traditionsImg3{
    bottom: 10%;
    right: 15%;
    width: 14vw;
    min-width: 150px;
    aspect-ratio: 4/3;
  }
}












@media (max-width: 1024px) {

  #section__hero{
    height: 50vh;
    h2{
      font-size: var(--size-xl);
    }
    .img__hero, picture, img{
      height: 100%;
      img{
        object-fit: cover;
      }
      
    }
  }

  #section__happyPlace{
    padding: 10% 5%;
    .column__1:nth-child(3) {
      max-width: 80%;
      padding-top: 8%;
    }
  }

  #section__spaCarousel{
    padding: 0;
    .column__2{
      padding: 0;
      .col__left{
        height: 50vh;
        padding: 0;

        ul{
          padding: 0;
          display: inline-flex;
          flex-direction: row;
          width: 800vw;
          height: 100%;
          li{
            width: 100vw;
            height: 100%;
            padding: 50px;
          }
        }
      }
      .col__right{
        height: 50vh !important;
        picture:last-child{
            transform: translate3d(0%, 0 , 0) !important;
        }
      }
    }
  }
  
  #section__adventureCarousel{
    padding: 10% 5%;
    #carousel-3{
      display: none;
    }
    #carousel-2{
      display: block;
      width: 100%;
      .splide__arrows{
        position: absolute;
        bottom: 0;
        width: 100%;
        .splide__arrow--prev{
          left: 0px;
        }
        .splide__arrow--next{
          right: 0px;
        }
      }
    }
  }

  #section__placeToBe{
    height: 50vh;
  }

  #section__traditions{
    min-height: 85vh;
    &::before {
      content: "";
      background: url('../assets/svg/greca_crema.svg');
      width: 100%;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
    .traditionsImg1{
      top: 80%;
      left: 3%;
      transform: translateY(-50%);
      width: 18vw;
      min-width: 100px;
      aspect-ratio: 2/3;
    }
    .traditionsImg2{
      top: 15%;
      right: 5%;
      width: 20vw;
      min-width: 100px;
      aspect-ratio: 1/1;
    }
    .traditionsImg3{
      bottom: 3%;
      right: 2%;
      width: 22vw;
      min-width: 150px;
      aspect-ratio: 4/3;
    }
  }
}







@media (max-width: 768px){

  #section__hero {
    & h2 {
      font-size: var(--size-lg);
    }
  }

  #section__traditions {
    padding: calc(15% + 40px) 5% calc(15% + 40px);
    & .column__1 {
      & p {
        max-width: 100%;
        text-align: center;
      }
    }
  }

}