#section__hero {
  padding: 0;
  position: relative;
  .flex__row {
    display: flex;
    flex-direction: row;
  }
  .flex__column {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2; 
  }
  .text__align__c {
    text-align: center;
  }
  h1, h2, h2>strong{
    color: var(--color-white);
    width: 100%;
    text-align: center;
  }
  .column__2__hero {
    position: relative;
    height: 100dvh;
    overflow: hidden;
  }
  .btn__hero__container {
    margin-top: 2em;
    display: flex;
  }
  .img__hero {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

#section__intro {
  position: relative;
  picture {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
#section__introDivider{
  .column__1{
    .introDivider__logo{
      max-width: 50px;
      aspect-ratio: 1/1;
      position: relative;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .column__2{
    .col__left{
      padding-right: 5%;
      ul{
        width: 100%;
        li{
          padding: 0 !important;
          width: 100%;
          height: auto;
          picture{ 
            position: relative; 
            width: 100%; 
            height: auto; 
            img{
              height: 50vh;
              position: relative;
              width: 100%;
              object-fit: cover;
          }}
        }
      }
    }
    .col__right{
      padding-left: 5%;
      ul{
        width: 100%;
        li{
          padding: 0 !important;
          width: 100%;
          height: auto;
          picture{ 
            position: relative; 
            width: 100%; 
            height: auto; 
            img{
              height: 50vh;
              position: relative;
              width: 100%;
              object-fit: cover;
          }}
        }
      }
    }
  }
    
}

#section__discoverPueblito{
  .col__left{
    justify-content: center;
    padding-right: 5%;
  }
  ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    li{
      padding: 0 !important;
      display: flex;
      justify-content: center;
      picture{
        position: relative;
        width: 100%;
        aspect-ratio: 2/3;
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

#section__placeToBe {
  background: var(--bg-primary);
  position: relative;
  padding: 10%;
  h2{
    width: 100%;
    text-align: center;
    color: var(--color-white);
  }
  ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 10% 0;
  }

  li {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }
  li picture {
    aspect-ratio: 1;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  li:nth-child(1) {
    position: relative;
  }
  li:nth-child(1) picture {
    width: 100%;
    position: absolute;
    bottom: -20px;
  }
  li:nth-child(3) picture {
    width: 75%;
    height: 75%;
    align-self: flex-end;
  }
  li:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  li:nth-child(4) picture {
    width: 75%;
    height: 75%;
  }
}

#section__discoverBenefits{
  min-height: 80vh;
  position: relative;
  .column__1{
    z-index: 2;
  }
  h2{
    width: 100%;
  }
  h2, p{
    text-align: center;
    color: var(--color-white)
  }
  .discoverBenefits__logo{
    max-width: 50px;
    aspect-ratio: 1/1;
    position: relative;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  picture{
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover
   }
  }
}
#section__recentArticles{
  h2{
    text-align: center;
    width: 100%;
  }
  .splide{
    margin-top: 2em;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    border: 10px solid white;
  }
  .splide, .splide__track, .splide__list{
    background-color: white;
  }
  .btn{
    margin-top: 2.5%;
  }
  .splide__pagination__page.is-active{
    background: var(--color-accent) !important;
  }
  .splide__arrows--ttb .splide__arrow{
    left: 96% !important;
  }
  .splide__pagination--ttb{
    left: 92% !important;
  }
}
#section__location {
  background: url('../assets/img/bg_noise_mapa.jpg');
  h2, h3{
    width: 100%;
    text-align: center;
  }
  .width__45{
    text-align: center;
  }
}







#section__activity {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

#section__divider {
  min-height: 100vh;
  position: relative;
  img {
    object-fit: cover;
  }
}

#section__concept {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  .concept__picture__concept1 {
    position: absolute;
    z-index: -1;
    left: 0;
    height: 100%;
  }
  .concept__picture__concept2 {
    position: absolute;
    z-index: -1;
    right: 0;
    height: 100%;
  }
}

#section__iWant {
  padding: 5% 5%;
  background-color: #efece8;
  div {
    position: relative;
  }
  .iWantCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 5%;
    right: 0%;
    bottom: -20%;
    transform: translate(0%, 0%);
    display: flex;
    flex-direction: column;
    picture{
        width: 32px;
        aspect-ratio: 1;
        align-self: center;
    }
    a{
        margin: 0;
        width: fit-content;
    }
  }
}

#section__productos .column__1 {
  border-top: 1px solid #ccc;
  padding-top: 5%;
}



@media (max-width: 768px){
  #section__hero{
    .column__2{
      .col__right, picture, img{
        height: 100%;
        img{
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #section__hero{
    .img__hero, picture, img{
      height: 100%;
      img{
        object-fit: cover;
      }
    }
  }
  #section__intro{
    padding: 5%;
    .col__left{
      padding-right: 0;
    }
    h2{
      width: 100%;
    }
  }
  #section__introDivider{
    .col__left, .col__right{
      padding: 5%;
    }
  }
  #section__discoverPueblito, #section__recentArticles{
    padding: 5%;
  }
}