#section__hero {
  margin-top: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  z-index: 1;
  &::before{
    content:"";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    z-index: 1;
    pointer-events: none;
  }
  .flex__row {
    display: flex;
    flex-direction: row;
  }
  .flex__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; 
  }
  .text__align__c {
    text-align: center;
  }
  h1{
    color: var(--color-white);
    width: 100%;
    text-align: center;
    transform-origin: top center;
  }
  h2, h2>strong{
    color: var(--color-white);
    width: 100%;
    text-align: center;
    transform-origin: top center;
  }
  .column__2__hero {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .btn__hero__container {
    margin-top: 2em;
    display: flex;
    gap: 2px;
    .btn:first-child{
      border-radius: 8px 0 0 8px;
    }
    .btn:last-child{
      border-radius: 0 8px 8px 0;
    }
  }
  .img__hero {
    position: absolute;
    width: 100%;
    z-index: -1;
    video{
      height: 100%;
      object-fit: cover;
    }
  }
}

#section__intro {
  margin-top: 0;
  background: url('../assets/img/bg_cream.jpg');
  position: relative;
  padding: 10% 0% 5% 0%;
  .column__2{
    .col__left{
      position: relative;
    }
    .col__right{
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  .column__1{
    margin-top: 5%;
    overflow: hidden;
    .greca{
      width: 150vw;
    }
  }
  &::before{
    content:"";
    width: 50%;
    height: 100%;
    position: absolute;
    top: -20%;
    right: 0;
    background-image: url(/images/textura_manuscrito.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
  }
}

#section__introDivider{
  background: url('../assets/img/bg_cream.jpg');
  .column__1{
    .sello__wrapper{
      img{
        position: relative;
        width: 7vw;
        min-width: 120px;
        max-width: 500px;
        height: auto;
        object-fit: contain;
        animation-name: giraSello;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.3));
      }
    }
    
  }
  .column__2{
    .col__left{
      padding-right: 0%;
      ul{
        width: 100%;
        position: relative;
        transform: translateX(-100%);
        opacity: 0;
        li{
          padding: 0 !important;
          width: 100%;
          height: auto;
          margin: 0px;
          picture{ 
            position: relative;   
            width: 100%;
            max-height: 50vh;
            aspect-ratio: 1;
            img{
              position: relative;
              height: 100%;
              object-fit: cover;
          }}
        }
        li:first-child{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
    .col__right{
      padding-left: 0%;
      ul{
        width: 100%;
        transform: translateX(100%);
        li{
          padding: 0 !important;
          width: 100%;
          height: auto;
          margin: 0px;
          picture{ 
            position: relative; 
            width: 100%; 
            max-height: 50vh;
            aspect-ratio: 1; 
            img{
              height: 100%;
              position: relative;
              width: 100%;
              object-fit: cover;
          }}
        }
        li:first-child{
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
        }
      }
    }
  }
    
}

@keyframes giraSello {
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}




#section__discoverPueblito{
  padding: 10% 0 10%;
  &::before{
    content:"";
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -10%;
    left: 0;
    background-image: url(/images/textura_manuscrito.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
  }
  .col__left{
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
  }
  .diamondFigure{
    left: -12px;
    right: unset;
  }
  ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    li{
      padding: 0 !important;
      display: flex;
      justify-content: center;
      picture{
        position: relative;
        width: 100%;
        aspect-ratio: 2/3;
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    li:last-child{
      transform: translateY(50px);
    }
    li:first-child{
      transform: translateY(-50px);
    }
  }
}

#section__placeToBe {
  background: var(--bg-primary);
  position: relative;
  padding: 10%;
  h2{
    color: var(--color-white);
    text-align: center;
    strong{
      color: var(--color-accent);
      transform-origin: top center;
    }
  }
  ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin-top: 10%;
  }
  li{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 50px;
    picture{
      box-shadow: 5px 30px 20px rgba(0,0,0,0.4);
      border-radius: 15px;
      overflow: hidden;
    }
    &:nth-child(1), &:nth-child(3){
      padding-top: 20%;
    }
    &:nth-child(1){
      align-items: flex-end;
      picture:last-child{
        width: 50%;
        aspect-ratio: 3/4;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &:nth-child(2){
      picture:first-child{
        aspect-ratio: 1/1.2;
      }
      picture{
        width: 100%;
        aspect-ratio: 1;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &:nth-child(3){
      picture:first-child{
        width: 50%;
        aspect-ratio: 1;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}


#section__location {
  background: url('../assets/img/bg_noise_mapa.jpg');
  h2{
    strong{
      transform-origin: top center;
    }
  }
  h3{

  }
  .width__45{
    text-align: center;
  }
}


#section__discoverBenefits{
  height: 100vh;
  position: relative;
  .accentDivider{
    background-color: var(--color-accent) ;
  }
  .column__1{
    z-index: 2;
    align-items: center;
    justify-content: center;
    img{
      width: 100px;
      height: auto;
      margin-bottom: 50px;
    }
    h2{
      color: var(--color-white);
      strong{
        transform-origin: top center;
      }
    }
    p{
      text-align: center;
      color: var(--color-white)
    }
  }
  
  picture{
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover
   }
  }
}


#section__recentArticles{
  background: url('../assets/img/bg_cream.jpg');
  h2{
    text-align: center;
    strong{
      transform-origin: top center;
    }
  }
  .recentblog__wrapper{
    margin-top: 3%;
  }
  .splide{
    margin-top: 2em;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.25);
    border: 20px solid white;
  }
  .splide, .splide__track, .splide__list{
    background-color: white;
  }
  .btn{
    margin-top: 2.5%;
  }
  .splide__pagination__page.is-active{
    background: var(--color-accent) !important;
  }
  .splide__arrows--ttb .splide__arrow{
    left: 96% !important;
  }
  .splide__pagination--ttb{
    left: 92% !important;
  }
}








#section__activity {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

#section__divider {
  min-height: 100vh;
  position: relative;
  img {
    object-fit: cover;
  }
}

#section__concept {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  .concept__picture__concept1 {
    position: absolute;
    z-index: -1;
    left: 0;
    height: 100%;
  }
  .concept__picture__concept2 {
    position: absolute;
    z-index: -1;
    right: 0;
    height: 100%;
  }
}

#section__iWant {
  padding: 5% 5%;
  background-color: #efece8;
  div {
    position: relative;
  }
  .iWantCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 5%;
    right: 0%;
    bottom: -20%;
    transform: translate(0%, 0%);
    display: flex;
    flex-direction: column;
    picture{
        width: 32px;
        aspect-ratio: 1;
        align-self: center;
    }
    a{
        margin: 0;
        width: fit-content;
    }
  }
}

#section__productos .column__1 {
  border-top: 1px solid #ccc;
  padding-top: 5%;
}



@media (max-width: 768px){
  #section__hero{
    .column__2{
      .col__right, picture, img{
        height: 100%;
        img{
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #section__hero{
    .img__hero, picture, img{
      height: 100%;
      img{
        object-fit: cover;
      }
    }
  }
  #section__intro{
    padding: 5%;
    .col__left{
      padding-right: 0;
    }
    h2{
      width: 100%;
    }
  }
  #section__introDivider{
    .col__left, .col__right{
      padding: 5%;
    }
  }
  #section__discoverPueblito, #section__recentArticles{
    padding: 5%;
  }
  #carousel-1, #carousel-2{
    padding: 0 !important;
  }
}