---
eleventyComputed:
  title: "{{ blog[0].titleseo }}"
  description: "{{ blog[0].descseo }}"
  keywords: "{{ blog[0].keyseo }}"
layout: base.njk
pagination:
  data: collections.articulos
  size: 20
  alias: item
permalink: "/articulos/{{pagination.pageNumber + 1}}/"
---

<div
  data-barba="container"
  data-barba-namespace="articulos"
  data-css="articulos"
  data-js="blog"
>
  {% for item in blog %}
  <section id="section__hero" class="pad__lr__5 pad__tb__5">
    {% include 'header.njk' %}
    <div class="column__2 column__2__hero flex__row flex__justify__c">
      <div
        class="col__left flex__justify__c width__45 flex__column flex__align__c"
      >
        <h1>{{ item.heroH1 }}</h1>
        <div class="accentDivider"></div>
        {{ item.heroH2 | safe }}
      </div>
      <div class="col__right width__55 img__hero">
        <video width="320" height="240" muted loop autoplay>
          <source
            src="/images/inicio/esencia_index_hero.mp4"
            type="video/mp4"
          />
          Tu navegador no soporta este video
        </video>
      </div>
      <div class="blackDisplayOverlayGradient"></div>
    </div>
  </section>
  {% endfor %}

  <section id="section__intro" class="pad__all__5">
    <div class="column__1">
      <div class="grid-container fadeInOut">
        {% if pagination.items|length > 0 %}
          {% for item in pagination.items %}
            <div class="grid-item">
              {% include "post-card.njk" %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>

  <section id="section__paginacion" class="pad__lr__5 pad__bottom__5">
    <div class="column__1">
      <ul class="paginacion" role="list">
        {% if pagination.href.previous %}
        <li><a href="{{ pagination.href.previous }}">Anterior</a></li>
        {% endif %} {% for pageNumber in pagination.pages %}
        <li>
          <a
            class="{% if page.permalink == item.permalink %}active{% endif %}"
            href="/articulos/{{ pagination.pageNumber + 1 }}/"
            >{{ pagination.pageNumber + 1 }}</a
          >
        </li>
        {% endfor %} {% if pagination.href.next %}
        <li><a href="{{ pagination.href.next }}">Siguiente</a></li>
        {% endif %}
      </ul>
    </div>
  </section>
</div>
