---
eleventyComputed:
  title: "{{ contacto[0].titleseo }}"
  description: "{{ contacto[0].descseo }}"
  keywords: "{{ contacto[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div
  data-barba="container"
  data-barba-namespace="contacto"
  data-css="contacto"
  data-js="contacto"
>
  {% for item in contacto %}
  <section id="section__hero" class="pad__lr__5 pad__tb__5">
    {% include 'header.njk' %}
    <div class="column__2 column__2__hero flex__row flex__justify__c">
      <div
        class="col__left flex__justify__c width__45 flex__column flex__align__c"
      >
        <h1>{{ item.heroH1 }}</h1>
        <div class="accentDivider"></div>
        {{ item.heroH2 | safe }}
        <div class="btn__hero__container">
          <a id="btn__hero1" class="btn btn__hero">{{ item.heroBtn1 }}</a>
          <a id="btn__hero2" class="btn btn__hero">{{ item.heroBtn2 }}</a>
        </div>
      </div>
      <div class="col__right width__55 img__hero">
        <video width="320" height="240" muted loop autoplay>
          <source
            src="/images/inicio/esencia_index_hero.mp4"
            type="video/mp4"
          />
          Tu navegador no soporta este video
        </video>
      </div>
      <div class="blackDisplayOverlayGradient"></div>
    </div>
  </section>
  <section id="section__intro">
    <div class="column__2">
      <div class="col__left">
        <div class="intro__imgWrapper">
          <div class="dualHorizon__img__wrapper">
            {% if item.intro.img2Left %}
            <picture class="intro__picture__bg">
              {% for format, images in item.intro.img2Left %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ item.img2Left.webp[0].url }}"
                alt="{{ item.img2Left.altText }}"
              />
            </picture>
            {% endif %} {% if item.intro.img1Left %}
            <picture class="intro__picture__bg">
              {% for format, images in item.intro.img1Left %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ item.img1Left.webp[0].url }}"
                alt="{{ item.img1Left.altText }}"
              />
            </picture>
            {% endif %}
          </div>
          <div class="diamondFigureHorizon">
            <div class="diamondImg"></div>
            <div class="diamondImg"></div>
            <div class="diamondImg"></div>
          </div>
        </div>

        <div class="richTextH2">{{ item.intro.h2Left | safe }}</div>
        <div class="accentDivider"></div>
        <div class=""><p>{{ item.intro.pLeft }}</p></div>
      </div>
      <div class="col__right">
        <div class="intro__imgWrapper">
          <div class="dualHorizon__img__wrapper">
            {% if item.intro.img2Right %}
            <picture>
              {% for format, images in item.intro.img2Right %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ item.img2Right.webp[0].url }}"
                alt="{{ item.img2Right.altText }}"
              />
            </picture>
            {% endif %} {% if item.intro.img1Right %}
            <picture>
              {% for format, images in item.intro.img1Right %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ item.img1Right.webp[0].url }}"
                alt="{{ item.img1Right.altText }}"
              />
            </picture>
            {% endif %}
          </div>
          <div class="diamondFigureHorizon">
            <div class="diamondImg"></div>
            <div class="diamondImg"></div>
            <div class="diamondImg"></div>
          </div>
        </div>

        <div class="richTextH2">{{ item.intro.h2Right | safe }}</div>
        <div class="accentDivider"></div>
        <div class=""><p>{{ item.intro.pRight }}</p></div>
      </div>
    </div>
  </section>

  <section id="section__form">
    <div class="column__1">
      <div class="richTextH2">{{ item.form.h2 | safe}}</div>
      {% include 'form.njk' %}
    </div>
    {% if item.form.img %}
    <picture>
      {% for format, images in item.form.img %}
      <source
        srcset="{{ images | srcset }}"
        sizes="(max-width: 1200px) 100vw, 1200px"
        type="image/{{ format }}"
      />
      {% endfor %}
      <img src="{{ item.img.webp[0].url }}" alt="{{ item.img.altText }}" />
    </picture>
    {% endif %}
    <div class="blackDisplayOverlay"></div>
  </section>

  {% endfor %}
</div>
