---
eleventyComputed:
  title: "{{ socios[0].titleseo }}"
  description: "{{ socios[0].descseo }}"
  keywords: "{{ socios[0].keyseo }}"
layout: "base.njk"
#gsap: "socios.js"
permalink: "/{{ page.fileSlug }}/"
---

<div
  data-barba="container"
  data-barba-namespace="fundadores"
  data-css="fundadores"
  data-js="fundadores"
>
  {%for item in socios %}

  <section id="section__hero" class="pad__lr__5 pad__tb__5">
    {% include 'header.njk' %}
    <div class="column__2 column__2__hero flex__row flex__justify__c">
      <div
        class="col__left flex__justify__c width__45 flex__column flex__align__c"
      >
        <h1>{{ item.heroH1 }}</h1>
        <div class="accentDivider"></div>
        {{ item.heroH2 | safe }}
        <div class="btn__hero__container">
          <a id="btn__hero1" class="btn btn__hero">{{ item.heroBtn1 }}</a>
          <a id="btn__hero2" class="btn btn__hero">{{ item.heroBtn2 }}</a>
        </div>
      </div>
      <div class="col__right width__55 img__hero">
        <video width="320" height="240" muted loop autoplay>
          <source
            src="/images/inicio/esencia_index_hero.mp4"
            type="video/mp4"
          />
          Tu navegador no soporta este video
        </video>
      </div>
      <div class="blackDisplayOverlayGradient"></div>
    </div>
  </section>

  <section id="section__happyPlace">
    <div class="column__1 happyPlace__richText">
      <div class="richTextH2">{{ item.introH2 | safe }}</div>
      <div class="accentDivider"></div>
      <h3>{{ item.introH3 }}</h3>
    </div>

    <!---->
    <div class="column__1">
      <div class="dualHorizon__img__wrapper">
        {% if item.introImg2 %}
        <picture class="intro__picture__bg">
          {% for format, images in item.introImg2 %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 1200px) 100vw, 1200px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.introImg2.webp[0].url }}"
            alt="{{ item.introImg2Alt }}"
          />
        </picture>
        {% endif %} {% if item.introImg1 %}
        <picture class="intro__picture__bg">
          {% for format, images in item.introImg1 %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 1200px) 100vw, 1200px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.introImg1.webp[0].url }}"
            alt="{{ item.introImg1Alt }}"
          />
        </picture>
        {% endif %}
      </div>
      <div class="diamondFigureHorizon">
        <div class="diamondImg"></div>
        <div class="diamondImg"></div>
        <div class="diamondImg"></div>
      </div>
    </div>
    <!---->
    <div class="column__1">
      <div>{{ item.introDesc | safe }}</div>
    </div>
  </section>

  <section id="section__discoverPueblito">
    <div class="column__2">
      <div class="col__left fadeInOut">
        <div>{{ item.discoverPueblito.h2 | safe}}</div>
        <div class="accentDivider"></div>
        <h3>{{ item.discoverPueblito.h3 }}</h3>
        <div>{{ item.discoverPueblito.description | safe }}</div>
        <!--
          <a href="#" class="btn">Descubre Pueblito</a>
          -->
      </div>
      <div class="col__right">
        <div class="diamondFigure">
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
        </div>
        <ul role="list" class="flex" id="discoverPueblitoUl">
          {% for image in item.discoverPueblito.img %}
          <li class="splide__slide pad__left__5">
            <picture>
              {% for format, images in image %} 
              <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}" />
              {% endfor %}
              <img src="{{ image.webp[0].url }}" alt="{{ producto.gallery.altText }}"/>
            </picture>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>


  <section id="section__experiencias" class="fadeInOut">
    <div class="column__1">
      <div class="richTextH2">{{item.experience.h2 | safe}}</div>
      <div class="inner__p">
        <p>
          {{item.experience.p}}
        </p>
      </div>
      <div class="accentDivider"></div>
    </div>
    <div class="column__1 listado__x3">
      {% for item in item.experience.list %}
      <div class="experiencia">
        <img src="{{item.img.url}}" />
        <h3>{{item.h3}}</h3>
        <p>
          {{item.p}}
        </p>
      </div>
      {% endfor %}
  </section>


  <section id="section__banner">
    <picture>
      {% for format, images in item.banner.img %}
      <source
      srcset="{{ images | srcset }}"
      sizes="(max-width: 1920px) 100vw, 1920px"
      type="image/{{ format }}"
      />
      {% endfor %}
      <img
      src="{{ item.img.webp[0].url }}"
      alt="{{ item.altText }}"
      />
    </picture>
    <div class="column__1">
      <h3>
        {{item.banner.title}}
      </h3>
      <a class="btn"> Conoce todas las posibilidades </a>
    </div>
  </section>


  <section id="section__inversion" class="fadeInOut">
    <div class="column__1">
      <div class="richTextH2">{{item.income.h2 | safe}}</div>
    </div>
    <div class="column__2">
      <div class="col__left">
        <div>{{item.income.desc | safe}}</div>
        <a class="btn">Detalles aquí</a>
      </div>
      <div class="col__right">
        <div class="listado__operaciones">
          {% for item in item.income.list %}
          <div class="operacion">
            <picture>
              {% for format, images in item.img %}
              <source
              srcset="{{ images | srcset }}"
              sizes="(max-width: 1920px) 100vw, 1920px"
              type="image/{{ format }}"
              />
              {% endfor %}
              <img
              src="{{ item.img.webp[0].url }}"
              alt="{{ item.img.altText }}"
              />
            </picture>
            <h3>{{item.title}}</h3>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </section>


  <section id="section__encontraras" class="fadeInOut">
    <div class="column__2">
      <div class="col__left">
        <div class="richTextH2">{{item.uFind.h2 | safe}}</div>
        <ul role="list">
          {% for item in item.uFind.list %}
          <li>{{item.name}}</li>
          {%endfor%}
        </ul>
      </div>
      <div class="col__right">
        <picture>
          {% for format, images in item.uFind.img %}
          <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1920px) 100vw, 1920px"
          type="image/{{ format }}"
          />
          {% endfor %}
          <img
          src="{{ item.uFind.img.webp[0].url }}"
          alt="{{ item.uFind.img.altText }}"
          />
        </picture>
      </div>
    </div>
  </section>


  <section id="section__oportunidades" class="fadeInOut">
    <div class="column__2">
      <div class="col__left">
        <picture>
          {% for format, images in item.model.img %}
          <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1920px) 100vw, 1920px"
          type="image/{{ format }}"
          />
          {% endfor %}
          <img
          src="{{ item.model.img.webp[0].url }}"
          alt="{{ item.model.img.altText }}"
          />
        </picture>
        <div class="diamondFigure">
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
        </div>
      </div>
      <div class="col__right">
        <div class="richTextH2">{{item.model.h2 | safe}}</div>
        <div class="accentDivider"></div>
        <h3 class="post__title">
          {{item.model.h3}}
        </h3>
        <p>
          {{item.model.desc | safe}}
        </p>
      </div>
    </div>
  </section>


  <section id="section__discoverBenefits" class="pad__all__10">
    <div class="column__1 fadeInOut">
      <img src="{{item.discoverBenefits.logo.url}}" />
      {{item.discoverBenefits.h2 | safe}}
      <div class="accentDivider"></div>
      <div class="max800">{{item.discoverBenefits.description | safe}}</div>
      
        <a href="" class="btn">FORMULARIO SOCIOS FUNDADORES</a>
        
    </div>
    <div class="blackDisplayOverlay"></div>
    <picture class="discoverBenefits__img">
      {% for format, images in item.discoverBenefits.img %}
      <source
        srcset="{{ images | srcset }}"
        sizes="(max-width: 1920px) 100vw, 1920px"
        type="image/{{ format }}"
      />
      {% endfor %}
      <img
        src="{{ item.discoverBenefits.img.webp[0].url }}"
        alt="{{ producto.mainImage.alt }}"
      />
    </picture>
  </section>
  {%endfor%}
</div>
