---
eleventyComputed:
  title: "{{ inicio[0].titleseo }}"
  description: "{{ inicio[0].descseo }}"
  keywords: "{{ inicio[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div
  data-barba="container"
  data-barba-namespace="inicio"
  data-css="inicio"
  data-js="inicio"
>
  {% for item in inicio %}
  <section id="section__hero" class="pad__lr__5 pad__tb__5">
    <div class="column__2 column__2__hero flex__row flex__justify__c">
      <div
        class="col__left flex__justify__c width__45 flex__column flex__align__c"
      >
        <h1>{{ item.heroH1 }}</h1>
        <div>{{ item.heroH2 | safe }}</div>
        <p>{{ item.heroP }}</p>
        <div class="btn__hero__container">
          <a class="btn btn__hero">{{ item.heroBtn1 }}</a>
          <a class="btn btn__hero">{{ item.heroBtn2 }}</a>
        </div>
      </div>
      <div class="col__right width__55 img__hero">
        {% if item.heroImg %}
        <picture>
          {% for format, images in item.heroImg %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 1200px) 100vw, 1200px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.heroImg.jpeg[0].url }}"
            alt="{{ item.heroImgAlt }}"
          />
        </picture>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="section__intro" class="pad__all__5 fadeInOut">
    <div class="column__2">
      <div class="col__left pad__right__5">
        {% if item.introImg1 %}
        <picture class="intro__picture__concept2 width__30">
          {% for format, images in item.introImg1 %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 900px) 100vw, 900px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.introImg1.jpeg[0].url }}"
            alt="{{ item.introImg1Alt }}"
          />
        </picture>
        {% endif %}
      </div>
      <div class="col__right flex__justify__c">
        <h3 class="text__align__c">{{ item.introH3 }}</h3>
        <div>
          {{ item.introH2 | safe }}
        </div>
        <h4>{{ item.introH4 }}</h4>
        <p>{{ item.introRichText | safe }}</p>
      </div>
    </div>
  </section>
  <section id="section__introDivider">
    <div class="column__1">

        <picture>
          {% for format, images in item.introDivider.logo %}
              <source srcset="{{ images | srcset }}" sizes="(max-width: 1920px) 100vw, 1920px" type="image/{{ format }}"/>
          {% endfor %}
          <img src="{{ item.introDivider.logo.svg[0].url }}" alt="{{ producto.mainImage.alt }}"/>
        </picture>

      <div class="images__container">


        {% for image in item.introDivider.img %}
              <li class="splide__slide">
                <picture>
                  {% for format, images in image %}
                    <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}">
                  {% endfor %}
                <img src="{{ image.webp[0].url }}" alt="{{ producto.gallery.altText }}"></picture>
              </li>
        {% endfor %}


      </div>
    </div>
  </section>

  {% endfor %}
</div>
