---
eleventyComputed:
  title: "{{ inicio[0].titleseo }}"
  description: "{{ inicio[0].descseo }}"
  keywords: "{{ inicio[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div
  data-barba="container"
  data-barba-namespace="inicio"
  data-css="inicio"
  data-js="inicio"
>
  {% for item in inicio %}
  <section id="section__hero" class="pad__lr__5 pad__tb__5">
    <div class="column__2 column__2__hero flex__row flex__justify__c">
      <div class="col__left flex__justify__c width__45 flex__column flex__align__c">
        <h1>{{ item.heroH1 }}</h1>
        <div class="accentDivider"></div>
        {{ item.heroH2 | safe }}
        <div class="btn__hero__container">
          <a id="btn__hero1" class="btn btn__hero">{{ item.heroBtn1 }}</a>
          <a id="btn__hero2" class="btn btn__hero">{{ item.heroBtn2 }}</a>
        </div>
      </div>
      <div class="col__right width__55 img__hero">
        <video width="320" height="240" muted loop autoplay>
          <source src="/images/inicio/esencia index hero.mp4" type="video/mp4">
          Tu navegador no soporta este video
        </video>
      </div>
      <div class="blackDisplayOverlayGradient"></div>
    </div>
  </section>

  <section id="section__intro">
    <div class="column__2">
      <div class="col__left">
        <div class="diamondFigure">
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
        </div>
        <div class="dual__img__wrapper" data-speed="1.2">
          {% if item.introImg2 %}
          <picture class="intro__picture__custom">
            {% for format, images in item.introImg2 %}
            <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}" />
            {% endfor %}
            <img src="{{ item.introImg2.webp[0].url }}" alt="{{ item.introImg1Alt }}" />
          </picture>
          {% endif %}
          {% if item.introImg1 %}
          <picture class="intro__picture__bg">
            {% for format, images in item.introImg1 %}
            <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}" />
            {% endfor %}
            <img src="{{ item.introImg1.webp[0].url }}" alt="{{ item.introImg1Alt }}" />
          </picture>
          {% endif %}
        </div>
      </div>
      <div class="col__right flex__justify__c fadeInOut">
          <h3 class="text__align__c">{{ item.introH3 }}</h3>
          <div>
            {{ item.introH2 | safe }}
          </div>
          <div class="accentDivider" style="width: 100px;"></div>
          <h3 class="post__title">{{ item.introH4 }}</h3>
          <p>{{ item.introRichText | safe }}</p>
      </div>
    </div>
    <div class="column__1">
      <div class="greca"></div>
    </div>
  </section>


  <section id="section__introDivider">
    <div class="column__1 flex__align__c flex__justify__c pad__tb__5">
      <div class="sello__wrapper">
        <img src="{{item.introDivider.logo.url}}" />
      </div>
    </div>
    
    <div class="column__2">
      <!-- Primer carrusel vertical -->
      <div class="col__left" id="carousel-1">
          <ul class="images__container" role="list" id="home-left-intro-animation">
            {% for image in item.introDivider.slide1 %}
            <li class="pad__right__5">
              <picture>
                {% for format, images in image %}
                <source
                  srcset="{{ images | srcset }}"
                  sizes="(max-width: 1200px) 100vw, 1200px"
                  type="image/{{ format }}" />
                {% endfor %}
                <img
                  src="{{ image.webp[0].url }}"
                  alt="{{ producto.gallery.altText }}"
                />
              </picture>
            </li>
            {% endfor %}
          </ul>
      </div>
  
      <!-- Segundo carrusel vertical -->
      <div class="col__right" id="carousel-2">
          <ul class="images__container" role="list" id="home-right-intro-animation">
            {% for image in item.introDivider.slide2 %}
            <li class="pad__left__5">
              <picture>
                {% for format, images in image %}
                <source
                  srcset="{{ images | srcset }}"
                  sizes="(max-width: 1200px) 100vw, 1200px"
                  type="image/{{ format }}" />
                {% endfor %}
                <img
                  src="{{ image.webp[0].url }}"
                  alt="{{ producto.gallery.altText }}"
                />
              </picture>
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>
  </section>




  <section id="section__discoverPueblito">
    <div class="column__2">
      <div class="col__left fadeInOut">
        <div>{{ item.discoverPueblito.h2 | safe}}</div>
        <div class="accentDivider"></div>
        <h3>{{ item.discoverPueblito.h3 }}</h3>
        <div>{{ item.discoverPueblito.description | safe }}</div>
        <!--
          <a href="#" class="btn">Descubre Pueblito</a>
          -->
      </div>
      <div class="col__right">
        <div class="diamondFigure">
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
        </div>
        <ul role="list" class="flex" id="discoverPueblitoUl">
          {% for image in item.discoverPueblito.img %}
          <li class="splide__slide pad__left__5">
            <picture>
              {% for format, images in image %} 
              <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}" />
              {% endfor %}
              <img src="{{ image.webp[0].url }}" alt="{{ producto.gallery.altText }}"/>
            </picture>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section id="section__placeToBe">
    <div class="column__1 flex__align__c flex__justify__c fadeInOut">  
          {{ item.toBeH2 | safe }}
    </div>
    <div class="column__1">
        <ul role='list' id="placeToBeGallery">
          <li id="placeToBeGalleryLi">
            {% for gallery in item.toBeImg1 %}
            <picture>
              {% for format, images in gallery %}
              <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}" />
              {% endfor %}
              <img src="{{ gallery.webp[0].url }}" alt="{{ gallery.alt.alt }}"/>
            </picture>
            {% endfor %}
          </li>
          <li>
            {% for gallery in item.toBeImg2 %}
            <picture>
              {% for format, images in gallery %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ gallery.webp[0].url }}"
                alt="{{ gallery.alt.alt }}"
              />
            </picture>
            {% endfor %}
          </li>
          <li>
            {% for gallery in item.toBeImg3 %}
            <picture>
              {% for format, images in gallery %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ gallery.webp[0].url }}"
                alt="{{ gallery.alt.alt }}"
              />
            </picture>
            {% endfor %}
          </li>
        </ul>
  </section>

  <section id="section__location" class="pad__top__10">
    <div class="column__1 flex__align__c fadeInOut">
      {{item.location.h2 | safe}}
      <div class="accentDivider"></div>
      <h3>{{item.location.h3}}</h3>
      <div class="width__45 max1200">{{item.location.description | safe}}</div>
      <a href="{{item.location.url}}" target="_blank" class="btn">Abrir en google maps</a>
    </div>
    <div class="column__1">
      <div class="map__wrapper">
        <a id="progreso" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_progreso.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>197.3 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="telchac" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_telchac.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>185 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="lagartos" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_lagartos.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>106 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="cuyo" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_cuyo.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>134 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="merida" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_merida.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>160 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="izamal" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_izamal.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>110 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="chichenitza" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_chichenitza.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>42.1 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="cancun" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_cancun.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>156 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="playacarmen" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_playacarmen.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>141 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <a id="tulum" class="hotspot">
          <div class="tooltip">
            <img src="/images/inicio/mapa_tulum.jpg" alt="La Esencia cerca de Progreso" />
            <p>Se encuentra a <span>102 km</span> de <strong>Valladolid</strong></p>
          </div>
        </a>
        <img class="vector" src="/images/inicio/inicio_mapa.svg" alt="La Esencia, un destino turístico en Valladolid"/>
        <img class="bitmap" src="/images/inicio/inicio_mapa.jpg" alt="La Esencia es un punto de conexión con Valladolid y todo Yucatán">
      </div>
    </div>
  </section>

  <section id="section__discoverBenefits" class="pad__all__10">
    <div class="column__1 fadeInOut">
      <img src="{{item.discoverBenefits.logo.url}}" />
      {{item.discoverBenefits.h2 | safe}}
      <div class="accentDivider"></div>
      <div class="max800">{{item.discoverBenefits.description | safe}}</div>
      <!--
        <a href="" class="btn">Descubre los beneficios</a>
        -->
    </div>
    <div class="blackDisplayOverlay"></div>
    <picture class="discoverBenefits__img">
      {% for format, images in item.discoverBenefits.img %}
      <source
        srcset="{{ images | srcset }}"
        sizes="(max-width: 1920px) 100vw, 1920px"
        type="image/{{ format }}"
      />
      {% endfor %}
      <img
        src="{{ item.discoverBenefits.img.webp[0].url }}"
        alt="{{ producto.mainImage.alt }}"
      />
    </picture>
  </section>

  <section id="section__recentArticles" class="pad__all__10">
    <div class="column__1 flex__align__c flex__justify__c fadeInOut">
      {{item.recentArticles.h2 | safe}}
    </div>
    <div class="column__1 recentblog__wrapper">
      <div class="splide" id="carousel-3">
        <div class="splide__track">
          <ul class="splide__list">
            {% for item in item.recentArticles.articles %}
            <li class="splide__slide">
              <div class="card__articulo">
                {% include "post-card.njk" %}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--
        <a href="/blog" class="btn">Ver todos los artículos</a>
        -->
    </div>
  </section>
  
   
  {% endfor %}

  {% include 'formSection.njk' %}

</div>

<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
<script>
  document.addEventListener('DOMContentLoaded', function () {

    let main3 = new Splide('#carousel-3', {
      direction: 'ttb', 
    height: '50vh',
    perPage: 1,
    gap: '2rem',
    arrows: false,
    pagination: true,
    wheel: false,
    arrows: true,
    breakpoints: {
      768: {
        height: '500px',
      }
    },
    })
    main3.mount();
  })
</script>
