---
eleventyComputed:
  title: "{{ inicio[0].titleseo }}"
  description: "{{ inicio[0].descseo }}"
  keywords: "{{ inicio[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div
  data-barba="container"
  data-barba-namespace="inicio"
  data-css="inicio"
  data-js="inicio"
>
  {% for item in inicio %}
  <section id="section__hero" class="pad__lr__5 pad__tb__5">
    <div class="column__2 column__2__hero flex__row flex__justify__c">
      <div
      class="col__left flex__justify__c width__45 flex__column flex__align__c"
      >
      <h1>{{ item.heroH1 }}</h1>
      <div>{{ item.heroH2 | safe }}</div>
      <div class="btn__hero__container">
        <a class="btn btn__hero">{{ item.heroBtn1 }}</a>
        <a class="btn btn__hero">{{ item.heroBtn2 }}</a>
      </div>
    </div>
    <div class="col__right width__55 img__hero">
      <video mute loop autoplay>
        <source src="./assets/video/bg_nosotros.mp4" type="video/mp4">
        <source src="./assets/video/bg_nosotros.mp4" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="blackDisplayOverlayGradient"></div>
  </div>
</section>

<section id="section__intro" class="pad__tb__10 pad__right__10 fadeInOut">
  <div class="column__2">
    <div class="col__left pad__right__5">
      <div class="diamondFigure">
        <div class="diamondImg"></div>
        <div class="diamondImg"></div>
        <div class="diamondImg"></div>
      </div>
      {% if item.introImg1 %}
      <picture class="intro__picture__bg width__30">
          {% for format, images in item.introImg1 %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 900px) 100vw, 900px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.introImg1.jpeg[0].url }}"
            alt="{{ item.introImg1Alt }}"
          />
        </picture>
        {% endif %}
        {% if item.introImg2 %}
      <picture class="intro__picture__custom width__30">
          {% for format, images in item.introImg2 %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 900px) 100vw, 900px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.introImg2.jpeg[0].url }}"
            alt="{{ item.introImg1Alt }}"
          />
        </picture>
        {% endif %}
      </div>
      <div class="col__right flex__justify__c">
        <h3 class="text__align__c">{{ item.introH3 }}</h3>
        <div>
          {{ item.introH2 | safe }}
        </div>
        <div class="accentDivider" style="width: 100px;"></div>
        <h3>{{ item.introH4 }}</h3>
        <p>{{ item.introRichText | safe }}</p>
      </div>
    </div>
  </section>

  <section id="section__introDivider" class="pad__tb__10">
    <div class="column__1 flex__align__c flex__justify__c pad__tb__5">
      <picture class="introDivider__logo">
        {% for format, images in item.introDivider.logo %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1920px) 100vw, 1920px"
          type="image/{{ format }}"
        />
        {% endfor %}
        <img
          src="{{ item.introDivider.logo.svg[0].url }}"
          alt="{{ producto.mainImage.alt }}"
        />
      </picture>
    </div>
    
      <div class="column__2">
        <!-- Primer carrusel vertical -->
        <div class="col__left" id="carousel-1">
            <ul class="images__container" role="list" id="home-left-intro-animation">
              {% for image in item.introDivider.slide1 %}
              <li class="pad__right__5">
                <picture>
                  {% for format, images in image %}
                  <source
                    srcset="{{ images | srcset }}"
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    type="image/{{ format }}" />
                  {% endfor %}
                  <img
                    src="{{ image.webp[0].url }}"
                    alt="{{ producto.gallery.altText }}"
                  />
                </picture>
              </li>
              {% endfor %}
            </ul>
        </div>
  
        <!-- Segundo carrusel vertical -->
        <div class="col__right" id="carousel-2">
            <ul class="images__container" role="list" id="home-right-intro-animation">
              {% for image in item.introDivider.slide2 %}
              <li class="pad__left__5">
                <picture>
                  {% for format, images in image %}
                  <source
                    srcset="{{ images | srcset }}"
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    type="image/{{ format }}" />
                  {% endfor %}
                  <img
                    src="{{ image.webp[0].url }}"
                    alt="{{ producto.gallery.altText }}"
                  />
                </picture>
              </li>
              {% endfor %}
            </ul>
          </div>
      </div>
  </section>

  <section id="section__discoverPueblito" class="pad__tb__10 pad__left__10">
    <div class="column__2">
      <div class="col__left">
        <div>{{ item.discoverPueblito.h2 | safe}}</div>
        <div class="accentDivider"></div>
        <h3>{{ item.discoverPueblito.h3 }}</h3>
        <div>{{ item.discoverPueblito.description | safe }}</div>
        <!--
          <a href="#" class="btn">Descubre Pueblito</a>
          -->
      </div>
      <div class="col__right">
        <div class="diamondFigure">
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
          <div class="diamondImg"></div>
        </div>
        <ul role="list" class="flex" id="discoverPueblitoUl">
          {% for image in item.discoverPueblito.img %}
          <li class="splide__slide pad__left__5">
            <picture>
              {% for format, images in image %} 
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}" />
              {% endfor %}
              <img
                src="{{ image.webp[0].url }}"
                alt="{{ producto.gallery.altText }}"
            /></picture>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section id="section__placeToBe">
    <div class="column__1">
        <div class="width__100 fadeInOut">
          {{ item.toBeH2 | safe }}
        </div>  
        <ul role='list' id="placeToBeGallery">
          <li id="placeToBeGalleryLi">
            {% for gallery in item.toBeImg1 %}
            <picture>
              {% for format, images in gallery %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ gallery.webp[0].url }}"
                alt="{{ gallery.alt.alt }}"
              />
            </picture>
            {% endfor %}
          </li>
          <li>
            {% for gallery in item.toBeImg2 %}
            <picture>
              {% for format, images in gallery %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ gallery.webp[0].url }}"
                alt="{{ gallery.alt.alt }}"
              />
            </picture>
            {% endfor %}
          </li>
          <li>
            {% for gallery in item.toBeImg3 %}
            <picture>
              {% for format, images in gallery %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ gallery.webp[0].url }}"
                alt="{{ gallery.alt.alt }}"
              />
            </picture>
            {% endfor %}
          </li>
        </ul>
  </section>

  <section id="section__location" class="pad__top__10">
    <div class="column__1 flex__align__c fadeInOut">
      <div class="width__100">{{item.location.h2 | safe}}</div>
      <div class="accentDivider"></div>
      <h3>{{item.location.h3}}</h3>
      <div class="width__45 max1200">{{item.location.description | safe}}</div>
      <a href="{{item.location.url}}" target="_blank" class="btn">Abrir en google maps</a>
    </div>
    <img src="./assets/img/mapa.jpg" alt="mapa ilustrativo del lugar">
  </section>

  <section id="section__discoverBenefits" class="pad__all__10">
    <div class="column__1 flex__justify__c flex__align__c">
      <picture class="discoverBenefits__logo fadeInOut">
        {% for format, images in item.discoverBenefits.logo %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1920px) 100vw, 1920px"
          type="image/{{ format }}"
        />
        {% endfor %}
        <img
          src="{{ item.discoverBenefits.logo.svg[0].url }}"
          alt="{{ producto.mainImage.alt }}"
        />
      </picture>
      <div class="fadeInOut">{{item.discoverBenefits.h2 | safe}}</div>
      <div class="accentDivider fadeInOut"></div>
      <div class="max800 fadeInOut">{{item.discoverBenefits.description | safe}}</div>
      <!--
        <a href="" class="btn">Descubre los beneficios</a>
        -->
    </div>
    <div class="blackDisplayOverlay"></div>
    <picture class="discoverBenefits__img">
      {% for format, images in item.discoverBenefits.img %}
      <source
        srcset="{{ images | srcset }}"
        sizes="(max-width: 1920px) 100vw, 1920px"
        type="image/{{ format }}"
      />
      {% endfor %}
      <img
        src="{{ item.discoverBenefits.img.svg[0].url }}"
        alt="{{ producto.mainImage.alt }}"
      />
    </picture>
  </section>

  <section id="section__recentArticles" class="pad__all__10">
    <div class="column__1 flex__align__c">

      <div class="fadeInOut">{{item.recentArticles.h2 | safe}}</div>
      
      <div class="splide" id="carousel-3">
        <div class="splide__track">
          <ul class="splide__list">
            {% for item in item.recentArticles.articles %}
            <li class="splide__slide">
              <div class="card__articulo">
                {% include "post-card.njk" %}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--
        <a href="/blog" class="btn">Ver todos los artículos</a>
        -->
    </div>
  </section>
  
   
  {% endfor %}

  {% include 'formSection.njk' %}

</div>

<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
<script>
  document.addEventListener('DOMContentLoaded', function () {

    let main3 = new Splide('#carousel-3', {
      direction: 'ttb', 
    height: '50vh',
    perPage: 1,
    gap: '2rem',
    arrows: false,
    pagination: true,
    wheel: false,
    arrows: true,
    breakpoints: {
      768: {
        height: '500px',
      }
    },
    })
    main3.mount();
  })
</script>
