---
eleventyComputed:
  title: "{{ gracias[0].titleseo }}"
  description: "{{ gracias[0].descseo }}"
  keywords: "{{ gracias[0].keyseo }}"
layout: "base.njk"
permalink: "/fundadores/{{ page.fileSlug }}/"
---

<div data-barba="container" data-barba-namespace="gracias" data-css="miembros">
  {% for item in gracias %}
  <section id="section__hero" class="pad__lr__5 pad__tb__5">
    {% include 'header.njk' %}
    <div class="column__2 column__2__hero flex__row flex__justify__c">
      <div
        class="col__left flex__justify__c width__45 flex__column flex__align__c"
      >
        <h1>{{ item.heroH1 }}</h1>
        <div class="accentDivider"></div>
        {{ item.heroH2 | safe }}
        <div class="btn__hero__container">
          <a id="btn__hero1" class="btn btn__hero">{{ item.heroBtn1 }}</a>
          <a id="btn__hero2" class="btn btn__hero">{{ item.heroBtn2 }}</a>
        </div>
      </div>
      <div class="col__right width__55 img__hero">
        <video width="320" height="240" muted loop autoplay>
          <source
            src="/images/inicio/esencia_index_hero.mp4"
            type="video/mp4"
          />
          Tu navegador no soporta este video
        </video>
      </div>
      <div class="blackDisplayOverlayGradient"></div>
    </div>
  </section>

  <section id="section__happyPlace" class="fadeInOut">
    <div class="column__1 happyPlace__richText">
      <div class="richTextH2">{{ item.introH2 | safe }}</div>
      <div class="accentDivider"></div>
      <h3 class="post__title">{{ item.introH3 }}</h3>
    </div>

    <div class="column__1">
      <div class="dualHorizon__img__wrapper">
        {% if item.introImg2 %}
        <picture class="intro__picture__bg">
          {% for format, images in item.introImg2 %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 1200px) 100vw, 1200px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.introImg2.webp[0].url }}"
            alt="{{ item.introImg2Alt }}"
          />
        </picture>
        {% endif %} {% if item.introImg1 %}
        <picture class="intro__picture__bg">
          {% for format, images in item.introImg1 %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 1200px) 100vw, 1200px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.introImg1.webp[0].url }}"
            alt="{{ item.introImg1Alt }}"
          />
        </picture>
        {% endif %}
      </div>
      <div class="diamondFigureHorizon">
        <div class="diamondImg"></div>
        <div class="diamondImg"></div>
        <div class="diamondImg"></div>
      </div>
    </div>
    <div class="column__1">
      <div>{{ item.introDesc | safe }}</div>
    </div>
  </section>

  <section id="section__privileges" class="fadeInOut">
    <div class="column__1">
      <div class="richTextH2">{{ item.privileges.h2 | safe }}</div>
      <h3 class="post__title">{{ item.privileges.h3 }}</h3>
      <div class="accentDivider"></div>
      <ul role="list" class="listado__x3">
        {% for item in item.privileges.list %}
        <li>
          <img src="{{ item.img.url }}" alt="" />
          <p>{{ item.title }}</p>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section id="section__experiencias" class="fadeInOut">
    <div class="column__1">
      <div class="richTextH2">{{item.experience.h2 | safe}}</div>
      <div class="inner__p">
        <p>
          {{item.experience.p}}
        </p>
      </div>
      <div class="accentDivider"></div>
    </div>
    <div class="column__1 listado__x3">
      {% for item in item.experience.list %}
      <div class="experiencia">
        <img src="{{item.img.url}}" />
        <h3>{{item.h3}}</h3>
        <p>
          {{item.p}}
        </p>
      </div>
      {% endfor %}
  </section>

  <section id="section__banner">
    <picture >
      {% for format, images in item.banner.img %}
      <source
      srcset="{{ images | srcset }}"
      sizes="(max-width: 1920px) 100vw, 1920px"
      type="image/{{ format }}"
      />
      {% endfor %}
      <img
      data-speed="1.1"
      src="{{ item.img.webp[0].url }}"
      alt="{{ item.altText }}"
      />
    </picture>
    <div class="column__1 fadeInOut">
      <h3>
        {{item.banner.title}}
      </h3>
      <a class="btn"> Conoce todas las posibilidades </a>
    </div>
  </section>

  <section id="section__recentArticles" class="pad__all__10">
    <div class="column__1 flex__align__c flex__justify__c fadeInOut">
      <div class="richTextH2">
        {{ item.recentArticles.h2 | safe }}
      </div>
      <div class="accentDivider"></div>
      <div class="recentRichText">{{ item.recentArticles.desc | safe }}</div>
    </div>
    <div class="column__1 recentblog__wrapper">
      <div class="splide" id="carousel-3">
        <div class="splide__track">
          <ul class="splide__list">
            {% for item in item.recentArticles.articles %}
            <li class="splide__slide">
              <div class="card__articulo">
                <div class="column__2">
                  <div class="col__left">
                    {% if item.img %}
                    <picture>
                      {% for format, images in item.img %}
                      <source
                        srcset="{{ images | srcset }}"
                        sizes="(max-width: 600px) 100vw, 600px"
                        type="image/{{ format }}"
                      />
                      {% endfor %}
                      <img
                        src="{{ item.img.jpeg[0].url }}"
                        alt="{{ item.img.altText }}"
                      />
                    </picture>
                    {% else %}
                    <p>No image available</p>
                    {% endif %}
                  </div>

                  <div class="col__right">
                    <h3>
                      {{ item.title }}
                    </h3>
                    <div class="accentDivider"></div>
                    <p class="excerpt__p">{{ item.description | safe }}</p>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--
      <a href="/blog" class="btn">Ver todos los artículos</a>
  -->
    </div>
  </section>

  <section id="section__decidirHoy">
    <div class="column__1">
      <div class="richTextH2">{{item.decidir.h2 | safe}}</div>
      <div class="accentDivider"></div>
        {{item.decidir.desc | safe}}
    </div>
    <div class="column__1">
      <picture>
        {% for format, images in item.decidir.img1 %}
        <source
        srcset="{{ images | srcset }}"
        sizes="(max-width: 1920px) 100vw, 1920px"
        type="image/{{ format }}"
        />
        {% endfor %}
        <img
        src="{{ item.img1.webp[0].url }}"
        alt="{{ item.img1.alt }}"
        />
      </picture>
    </div>
  </section>

  <section id="section__precios">
    <div class="column__2">
      <div class="col__left">
        <div class="richTextH2">{{item.price.h2 | safe}}</div>
        <div class="accentDivider"></div>
        <div>{{item.price.desc | safe}}</div>
      </div>
      <div class="col__right">
        <h3>{{item.price.h3}}</h3>
        <p class="precios__number">{{item.price.numero}}</p>
        <span>{{item.price.span}}</span>
      </div>
    </div>
  </section>

  <section id="section__discoverBenefits" class="pad__all__10">
    <div class="column__1 fadeInOut">
    <img src="{{ item.discoverBenefits.logo.url }}" />
    {{ item.discoverBenefits.h2 | safe }}
    <div class="accentDivider"></div>
    <div class="max800">{{ item.discoverBenefits.description | safe }}</div>
    
    <a href="" class="btn">FORMULARIO SOCIOS FUNDADORES</a>
  </div>
  <div class="blackDisplayOverlay"></div>
  <picture class="discoverBenefits__img">
    {% for format, images in item.discoverBenefits.img %}
    <source
    srcset="{{ images | srcset }}"
    sizes="(max-width: 1920px) 100vw, 1920px"
    type="image/{{ format }}"
    />
    {% endfor %}
    <img
    src="{{ item.discoverBenefits.img.webp[0].url }}"
    alt="{{ producto.mainImage.alt }}"
    />
  </picture>
</section>

  {% endfor %}
</div>
<script src="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
  "></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let main3 = new Splide("#carousel-3", {
      direction: "ttb",
      height: "60vh",
      perPage: 1,
      gap: "2rem",
      arrows: false,
      pagination: true,
      wheel: false,
      arrows: true,
      breakpoints: {
        768: {
          height: "500px",
        },
      },
    });
    main3.mount();
  });
</script>
