---
eleventyComputed:
    title: "{{ resorts[0].titleseo }}"
    description: "{{ resorts[0].descseo }}"
    keywords: "{{ resorts[0].keyseo }}"
layout: "base.njk"
#gsap: "resorts.js"
permalink: "/{{ page.fileSlug }}/"
---

<div
  data-barba="container"
  data-barba-namespace="resorts"
  data-css="resorts"
  data-js="resorts"
>
{%for item in resorts %}
<section id="section__hero" class="pad__lr__5 pad__tb__5">
  {% include 'header.njk' %}
  <div class="column__2 column__2__hero flex__row flex__justify__c">
    <div class="col__left flex__justify__c width__45 flex__column flex__align__c">
      <h1>{{ item.heroH1 }}</h1>
      <div class="accentDivider"></div>
      {{ item.heroH2 | safe }}
      <div class="btn__hero__container">
        <a id="btn__hero1" class="btn btn__hero">{{ item.heroBtn1 }}</a>
      </div>
    </div>
    <div class="col__right width__55 img__hero">
      <video width="320" height="240" muted loop autoplay>
        <source
          src="/images/resort.mp4"
          type="video/mp4"
        />
        Tu navegador no soporta este video
      </video>
    </div>
    <div class="blackDisplayOverlayGradient"></div>
  </div>
</section>

<section id="section__happyPlace" class="fadeInOut">
  <div class="column__1 happyPlace__richText">
    <div class="richTextH2">{{ item.introH2 | safe }}</div>
    <div class="accentDivider"></div>
    <h3>{{ item.introH3 }}</h3>
  </div>

  <!---->
  <div class="column__1">
    <div class="dualHorizon__img__wrapper">
      {% if item.introImg2 %}
      <picture class="intro__picture__bg">
        {% for format, images in item.introImg2 %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1200px) 100vw, 1200px"
          type="image/{{ format }}"
        />
        {% endfor %}
        <img
          src="{{ item.introImg2.webp[0].url }}"
          alt="{{ item.introImg2Alt }}"
        />
      </picture>
      {% endif %} {% if item.introImg1 %}
      <picture class="intro__picture__bg">
        {% for format, images in item.introImg1 %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 1200px) 100vw, 1200px"
          type="image/{{ format }}"
        />
        {% endfor %}
        <img
          src="{{ item.introImg1.webp[0].url }}"
          alt="{{ item.introImg1Alt }}"
        />
      </picture>
      {% endif %}
    </div>
    <div class="diamondFigureHorizon">
      <div class="diamondImg"></div>
      <div class="diamondImg"></div>
      <div class="diamondImg"></div>
    </div>
  </div>
  <!---->
  <div class="column__1">
    <div>{{ item.introDesc | safe }}</div>
  </div>
</section>


<section id="section__experiencias" class="fadeInOut">
  <div class="column__1">
    <div class="richTextH2">{{item.experience.h2 | safe}}</div>
    <div class="accentDivider"></div>
  </div>
  <div class="column__1 listado__x3">
    {% for item in item.experience.list %}
    <div class="experiencia">
      <img src="{{item.img.url}}" />
      <h3>{{item.h3}}</h3>
      <p>
        {{item.p}}
      </p>
    </div>
    {% endfor %}
</section>


<section id="section__actividades" class="fadeInOut">
  <div class="column__1">
    <div class="richTextH2">{{item.activity.h2 | safe}}</div>
    <div class="accentDivider"></div>
  </div>
  <div class="column__1">
    <div id="actividades" class="splide actividades" role="group">
      <div class="splide__track">
        <ul class="splide__list">
          {% for item in item.activity.list %}
          <li class="splide__slide">
              {% if item.img %}
              <picture >
                {% for format, images in item.img %}
                  <source
                    srcset="{{ images | srcset }}"
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    type="image/{{ format }}"
                  />
                {% endfor %}
                <img
                  src="{{ item.img.webp[0].url }}"
                  alt="{{ item.img.altText }}"
                />
              </picture>
              {% endif %}
            <h3>{{item.title}}</h3>
          </li>
          {%endfor%}
        </ul>
      </div>
    </div>

    <div id="actividades__m" class="splide actividades" role="group">
      <div class="splide__track">
        <ul class="splide__list">
          {% for item in item.activity.list %}
          <li class="splide__slide">
              {% if item.img %}
              <picture >
                {% for format, images in item.img %}
                  <source
                    srcset="{{ images | srcset }}"
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    type="image/{{ format }}"
                  />
                {% endfor %}
                <img
                  src="{{ item.img.webp[0].url }}"
                  alt="{{ item.img.altText }}"
                />
              </picture>
              {% endif %}
            <h3>{{item.title}}</h3>
          </li>
          {%endfor%}
        </ul>
      </div>
    </div>
  </div>
</section>


<section id="section__placeToBe">
    <div class="column__1 flex__align__c flex__justify__c fadeInOut">  
          {{ item.toBeH2 | safe }}
    </div>
    <div class="column__1">
        <ul role='list' id="placeToBeGallery">
          <li id="placeToBeGalleryLi">
            {% for gallery in item.toBeImg1 %}
            <picture>
              {% for format, images in gallery %}
              <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}" />
              {% endfor %}
              <img src="{{ gallery.webp[0].url }}" alt="{{ gallery.alt.alt }}"/>
            </picture>
            {% endfor %}
            <h3>Enigmático</h3>
          </li>
          <li>
            {% for gallery in item.toBeImg2 %}
            <picture>
              {% for format, images in gallery %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ gallery.webp[0].url }}"
                alt="{{ gallery.alt.alt }}"
              />
            </picture>
            {% endfor %}
          </li>
          <li>
            <h3>Vibrante</h3>
            {% for gallery in item.toBeImg3 %}
            <picture>
              {% for format, images in gallery %}
              <source
                srcset="{{ images | srcset }}"
                sizes="(max-width: 1200px) 100vw, 1200px"
                type="image/{{ format }}"
              />
              {% endfor %}
              <img
                src="{{ gallery.webp[0].url }}"
                alt="{{ gallery.alt.alt }}"
              />
            </picture>
            {% endfor %}
            <h3>Natural</h3>
          </li>
        </ul>
  </section>

  <section id="section__recentArticles" class="pad__all__10">
    <div class="column__1 flex__align__c flex__justify__c fadeInOut">
      {{item.recentArticles.h2 | safe}}
    </div>
    <div class="column__1 recentblog__wrapper">
      <div class="splide" id="carousel-3">
        <div class="splide__track">
          <div class="splide__list">
            {% for item in item.recentArticles.articles %}
            <div class="splide__slide">
              <ul class="">
                {% include "post-card.njk" %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="splide" id="carousel-3b">
        <div class="splide__track">
          <div class="splide__list">
            {% for item in item.recentArticles.articles %}
            <div class="splide__slide">
              <ul class="">
                {% include "post-card.njk" %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
        <a href="/articulos/1/" class="btn">Ver todos los artículos</a>
    </div>
  </section>

  <section id="section__discoverBenefits" class="pad__all__10">
    <div class="column__1 fadeInOut">
      <img src="{{item.discoverBenefits.logo.url}}" />
      {{item.discoverBenefits.h2 | safe}}
      <div class="accentDivider"></div>
      <div class="max800">{{item.discoverBenefits.description | safe}}</div>
      
        <a id="btn__preFoot" class="btn">Regístrate aquí</a>
        
    </div>
    <div class="blackDisplayOverlay"></div>
    <picture class="discoverBenefits__img">
      {% for format, images in item.discoverBenefits.img %}
      <source
        srcset="{{ images | srcset }}"
        sizes="(max-width: 1920px) 100vw, 1920px"
        type="image/{{ format }}"
      />
      {% endfor %}
      <img
        src="{{ item.discoverBenefits.img.webp[0].url }}"
        alt="{{ producto.mainImage.alt }}"
      />
    </picture>
  </section>
{% endfor %}

{% include 'formSection.njk' %}

</div>
<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    var actividades = new Splide( '#actividades', {
      padding: '10%',
      perPage: 2,
      maxHeight: "50vh",
      gap: '2rem',
      wheel: false,
      arrows: true,
    } );

    var actividadesM = new Splide( '#actividades__m', {
      padding: '0%',
      perPage: 1,
      maxHeight: "50vh",
      gap: '2rem',
      wheel: false,
      arrows: true,
    } );

    actividades.mount();
    actividadesM.mount();

    let main3 = new Splide('#carousel-3', {
      direction: 'ttb', 
      height: '50vh',
      perPage: 1,
      gap: '2rem',
      arrows: false,
      pagination: true,
      wheel: false,
      arrows: true,
      })

      main3.mount();


      let main4 = new Splide('#carousel-3b', {
        perPage: 1,
        gap: '2rem',
        arrows: false,
        pagination: true,
        wheel: false,
        arrows: true,
      })

      main4.mount();
  })
</script>
