{% for item in empresa %}

  <section id="formSection">
    <div class="column__2">

      <div class="col__left pad__all__10 fadeInOut">
        {{ item.form.h2 | safe }}
        {{ item.form.description | safe }}
        
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "50061502",
            formId: "3ba35d68-d356-4723-9ea4-44b5ccb33f2f",
            region: "na1"
          });
        </script>
        
      </div>

      <div class="col__right">
        <picture class="introDivider__logo">
          {% for format, images in item.form.img %}
          <source srcset="{{ images | srcset }}" sizes="(max-width: 1920px) 100vw, 1920px" type="image/{{ format }}" />
          {% endfor %}
          <img src="{{ item.form.img.webp[0].url }}" alt="{{ item.form.img }}" />
        </picture>
      </div>

    </div>
  </section>

{% endfor %}

