<header id="header" class="">
  {% for marca in empresa %}
  <div id="inner__header">
    <div class="mask">
      <div class="mask-left"></div>
      <div class="circle-cut"></div>
      <div class="mask-right"></div>
    </div>
    <div class="nav">
      
      <!--{% include 'main-nav-izq.njk' %}-->

      <a id="logo__main" href="/">
        {% for logo in logosEmpresa %}

        <img src="{{ logo.brandLogo.media.url }}" alt="prueba" />
        {%endfor%}
      </a>
      
        <!--{% include 'main-nav-der.njk' %}-->
      
    </div>
    <div class="nav__secondary">
      <div class="isoTypeRoom"></div>
      {% for logo in logosEmpresa %}
      <img src="{{ logo.logoType.media.url }}" alt="prueba" />
      {%endfor%}
    </div>
  </div>
  {% endfor %}
</header>

<style>
  #inner__header {
    background-color: transparent;
    justify-content: space-between;
    position: relative;

    .mask {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      width: 100%;
      height: 60px;
      justify-content: space-between;

      .mask-left,
      .mask-right {
        background: var(--bg-primary);
        width: calc(50% - 125px);
      }
    }

    .nav {
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 5;
    }

    .nav__ul__left,
    .nav__ul__right,
    .mirrorNav {
      width: calc(50% - 125px);
      justify-content: space-evenly;
    }

    #logo__main {
      position: absolute;
      width: 250px;
      aspect-ratio: 1/1;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .circle-cut {
      --r: 135px;
      width: 270px;
      background: var(--bg-primary);
      background-position: center;
      mask: radial-gradient(var(--r) at 50% 240%, #0000 calc(100% - 1px), #000);
    }
  }

  #logo__main {
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .nav__secondary{
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 100%;
    height: 60px;
    background: var(--bg-primary);
    display: none;
    img{
      height: 60px;
      width: auto;
    }
    .isoTypeRoom{
      width: 50px;
      aspect-ratio: 1/1;
      margin: 5px;
    }
  }

  @media (max-width: 1024px) {
    .nav,
    .mask {
      display: none !important;
    }
    .nav__secondary{
      display: flex;
    }
  }
</style>