<div class="column__2">
  <div class="col__left">
    <a class="card__pic width__100" href="/articulos/{{ item.slug.current }}">
      {% if item.mainImage %}
      <picture>
        {% for format, images in item.mainImage %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 600px) 100vw, 600px"
          type="image/{{ format }}"
        />
        {% endfor %}
        <img
          src="{{ item.mainImage.jpeg[0].url }}"
          alt="{{ item.mainImageAlt }}"
        />
      </picture>
      {% else %}
      <p>No image available</p>
      {% endif %}
    </a>
  </div>

  <div class="col__right">
    <div class="card__meta">
      {% if item.categories %}
      <span class="card__category">
        {% for category in item.categories %}
        <a href="/articulos/categorias/{{ category | slugify }}"
          >{{ category }}{% if not loop.last %}, {% endif %}</a
        >
        / {% endfor %}
      </span>
      {% else %}
      <span class="card__category">Sin categoría /</span>
      {% endif %}
      <span
        class="card__date"
        >{{ item.publishedAt | date("MMMM d, yyyy") }}</span
      >
    </div>

    <a href="/articulos/{{ item.slug.current }}">
      <h3>
        {{ item.title }}
      </h3>
    </a>

    <p class="excerpt__p">{{ item.excerpt }}</p>

    <a class="btn_post" href="/articulos/{{ item.slug.current }}">Leer Más</a>
  </div>
</div>
<!--<li class="card__artículo">
  <div class="column__2">
    <div class="col__left">
    </div>
    <div class="col__right flex__align__e">
    </div>
  </div>
</li>
-->
